<div class="pubWrapper project-card" data-tags="{% if include.item.tags %}{{ include.item.tags | join: ',' | downcase }}{% endif %}">
  <div class="pubImage">
    {% if include.item.image %}
    <img
      src='{{ include.item.image | resize: "800x800>" }}'
      alt="{{ include.item.img_alt }}" />
    {% endif %}
  </div>

  <div class="pubText">
    <p class="project-preview-description">
      <a
        href="{{ include.item.url }}"
        style="font-weight: bold; font-size: 1.2em"
      target="_blank"
      >{{ include.item.title }}</a
      >: {{ include.item.description }}.
    </p>
    {% if include.item.tags %}
    <div class="tag-list">
      {% for tag in include.item.tags %}
      <span class="tag">#{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
