<h2>
	<a
		href="{{ include.item.website }}"
		style="font-weight: bold"
		target="_blank"
		>{{ include.item.title }}</a
	>
</h2>

<img
	src="/figures/{{ include.item.img }}"
	alt="{{ include.item.img_alt }}"
/>

<p>
	{{ include.item.authors }}.
	({{ include.item.year}}).

	<br>
	{% if include.item.partners %}
	Partners: <span style="font-weight: bold;"> {{ include.item.partners }}</span>
	{% endif %}
</p>

<p>
	{% if include.item.description %}
	{{ include.item.description }}
	{% endif %}
</p>
