<div class="pubWrapper">
  <div class="pubImage">
    {% if include.item.img %}
    <img
      src='{{ "/figures/" | append: include.item.img | resize: "800x800>" }}'
      alt="{{ include.item.img_alt }}" />
    {% endif %}
  </div>

  <div class="pubText">
    <p>
      <a
        href="{{ include.item.paperlink }}"
        style="font-weight: bold"
        target="_blank"
        >{{ include.item.title }}</a
      >: {{ include.item.authors }}.
      <i>{{ include.item.journal_conf }}.</i>
      ({{ include.item.year}}). {% if include.item.weblink %}
      <a href="{{ include.item.weblink }}" target="_blank">[WEB]</a>
      {% endif %} {% if include.item.videolink %}
      <a href="{{ include.item.videolink }}" target="_blank">[VIDEO]</a>
      {% endif %} {% if include.item.awards %}
      <span style="font-weight: bold; text-transform: uppercase">
        {{ include.item.awards }}
      </span>
      {% endif %}
    </p>
  </div>
</div>
