---
layout: default
---

<h1>{{page.title}}</h1>

{% if page.image %}

<img src="../{{page.image}}" />

{% endif %}

{{content}}

<h2>People involved</h2>

<ul>
    {% for person in page.people %}
    <li>{{person}} (<a href="{{site.data.people[person]['Google Scholar']}}">Google Scholar</a>)</li>
    {% endfor %}
</ul>

<h2>Publications</h2>

{% for pub in page.publications %}
	{% for item in site.data.publications %}
		{% if item.title == pub %}
			<div class="pubWrapper">
				<div class="pubImage">
					<img src="../figures/{{ item.img }}" alt="{{ item.img_alt }}" />
				</div>

				<div class="pubText">
					<p>
						<a
							href="{{ item.paperlink }}"
							style="font-weight: bold;"
							target="_blank"
							>{{ item.title }}</a
						>: {{ item.authors }}.
						<i>{{ item.journal_conf }}.</i>
						({{ item.year}}). {% if item.weblink %}
						<a href="{{ item.weblink }}" target="_blank">[WEB]</a>
						{% endif %} {% if item.videolink %}
						<a href="{{ item.videolink }}" target="_blank">[VIDEO]</a>
						{% endif %}
					</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endfor %}

